.badge {
  padding: 6px 11px;
  color: var(--text-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  &-danger {
    background-color: var(--main-color-red);
  }

  &-success {
    background-color: var(--main-color-green);
  }

  &-primary {
    background-color: var(--main-color-blue);
  }

  &-warning {
    background-color: var(--main-color-orange);
  }
}
