.layout {
  color: var(--text-color);

  &__content {
    padding-left: var(--sidebar-width);
    background: var(--second-bg);
    min-height: 100vh;

    @media (max-width: 767px) {
      padding-left: 0;
    }

    &-main {
      padding: 15px;
    }
  }
}
