.auth {
  padding: 30px 0;

  &__form {
    box-shadow: $box-shadow;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 20px 15px;

    &-title {
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      color: $text-primary;
      font-size: 2rem;
      font-family: "M PLUS Rounded 1c", "Roboto", sans-serif;
      margin: 0;
      margin-bottom: 15px;
    }

    &-description {
      align-self: flex-start;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: $text-secondary;
      margin-bottom: 15px;
    }

    &-row {
      display: flex;
      gap: 15px;
    }

    &-row &-group {
      flex: 1;
    }

    &-group {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      label {
        display: block;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 5px;
      }

      &_password {
        position: relative;
        input {
          padding-right: 40px;
        }

        .password-toggle {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 45px;
          width: 40px;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: $text-secondary;
          transition: all 0.3s ease-out;
          &:hover {
            color: $primary;
          }
        }
      }
    }

    &-socials {
      text-align: center;
      font-size: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-text {
        width: 100%;
        margin-bottom: 10px;
      }
      button {
        width: calc(50% - 7px);

        &.google {
          border: 1px solid #db4437;
          background-color: #fff;
          color: #db4437;
          transition: 0.3s ease-out;
          box-shadow: none;
          &:hover {
            background-color: #db4437;
            color: #fff;
          }
        }

        &.facebook {
          border: 1px solid #4267b2;
          background-color: #fff;
          color: #4267b2;
          transition: 0.3s ease-out;
          box-shadow: none;
          &:hover {
            background-color: #4267b2;
            color: #fff;
          }
        }

        span {
          @include flex(center, center);
          font-size: 1.5rem;

          svg {
            margin-right: 5px;
          }

          @include mobile {
            font-size: 1rem;
          }
        }
      }
    }

    &-btn {
      @include flex(center, center);
    }

    &-control {
      width: 100%;
      height: 45px;
      outline: 0;
      border: 1px solid rgba($text-secondary, 0.5);
      padding: 0 10px;
      font-size: 1.25rem;

      &:focus {
        border-color: $primary;
      }
    }
  }
}
